{% extends "base.html" %}
{% load static %}

{% block title %}Телефон{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Телефон</h1>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-3">
                    <img src="{{ phone.image }}" alt="{{ phone.name }}" height="400">
                </div>
                <div class="col">
                    <p> Стоимость: {{ phone.price }}р. </p>
                    <p> Дата выхода: {{ phone.release_date|date:"Y-m-d" }}</p>
                    <p> LTE:
                        {% if phone.lte_exists %}
                            Есть
                        {% else %}
                            -
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <a href="/catalog">В каталог</a>
            </div>

        </div>
    </div>
{% endblock %}